black
check-manifest
darglint
flake8
flake8-bugbear
flake8-builtins
flake8-docstrings
#flake8-import-order
#flake8-isort
ipykernel
ipython
isort>=4.3.21
jupyter
jupyterlab
mypy==0.761
pre-commit
pytest
pytest-cov
#pytype
seed-isort-config
setuptools>=40.8.0
sphinx
sphinx_rtd_theme
tox
